.foodcard_maincon {
    width: 300px;
    min-height: 340px;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    padding-bottom: 20px;
}

.mainfood_itemgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-gap: 20px;
    justify-content: center;
}

.foodcard_maincon img {
    width: 300px;
    height: 180px;
}

.mainfood_itemname {
    color: orange;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.card_btn {
    background-color: orange;
    color: white !important;
    border-radius: 5px;
    border: 2px solid white;
    transition: all 0.1s linear;
}

.card_btn:hover {
    color: orange !important;
    background-color: white;
    border: 2px solid orange;
}

.buy_link {
    color: white;
    text-decoration: none;
}

.buy_link:hover {
    color: orange;
}

.mainfood_maincon {
    visibility: hidden;
}